@import "../../styles/global-settings.scss";

.layoutWrapper {
  min-height: 100vh;
}
.ant-layout {
  aside.ant-layout-sider,
  .ant-layout-sider-collapsed {
    transition: all 0.2s;
  }
  .ant-layout-sider-children {
    background: $neutral-2;
    display: flex;
    flex-direction: column;
    .empty-space {
      flex-grow: 1;
    }
    .switch-module {
      @include flex-center;
      justify-content: flex-end !important;
      cursor: pointer;
      color: $primary-1;
      padding: 16px 16px;
    }
  }

  .ant-layout-sider-collapsed {
    width: 47px !important;
    flex: 0 0 47px !important;
    max-width: 47px !important;
    min-width: 47px !important;
    box-shadow: $box-shadow;
    position: static;
    z-index: 10;
  }
  .expand {
    width: 273px !important;
    flex: 0 0 273px !important;
    max-width: 273px !important;
    min-width: 273px !important;
    box-shadow: 4px 0px 6px $title-08;
    position: static;
    z-index: 2;
  }
  header.ant-layout-header.header {
    height: 48px !important;
    box-shadow: $box-shadow-2;
    background-color: $neutral-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-content: center;
    padding: 7px 20px;
    position: static;
    z-index: 10;
  }
  .site-layout-content {
    z-index: 5;
  }
}
